<ion-header>
  <ion-toolbar>
    <ion-title>Kritik& Saran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title style="margin-left: 25%;color:rgb(102, 139, 28);">Kritik dan Saran</ion-card-title>

      <ion-card-content style="color:mediumvioletred;">
         Kritik: Apabila memungkinkan UASnya bisa dijadikan satu dengan proyek.
        <br/><br/>
        Saran: Pemberian materi pembelajaran flutter atau react dalam bentuk video.
      </ion-card-content>
  
    </ion-card-header>
  </ion-card>
</ion-content>
