<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Diri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="cardIdentitas">
    <ion-card-header>
      <ion-card style="margin-left: 32%; border-radius: 80%; border: 2px; border-color: black; width: 100px; height: 100px;">
        <img src="./assets/penguin.jpg" />
      </ion-card>

      <ion-card-title>Cynthia Wijaya</ion-card-title>

      <ion-card-content>
        NRP: C14180135
        <br/><br/>
        Email: C14180135@john.petra.ac.id 
        <br/><br/>
        No HP: 0812527288788
      </ion-card-content>
  
    </ion-card-header>
  </ion-card>
</ion-content>
